<div class="widget-container">
    <div class="row">
        <div class="medium-3 columns"><i class="fa fa-calendar"></i></div>
        <div class="medium-9 columns">
            <ul>
                <li><span>Nombre:</span><br>ArrivalDepertCalendar </li>
                <li><span>Version:</span><br>1.0</li>
            </ul>
        </div>
    </div>
</div>