<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="vendor/css/foundation.css">
	<link rel="stylesheet" href="vendor/css/normalize.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
   {{{body}}}
</body>
</html>
<script type="text/javascript" data-main="js/main" src="vendor/js/require.js"></script>

