@import
   "foundation/settings",
   "foundation/functions",
   "foundation/foundation",
   "icons",
   "foundation/normalize";

$gray-lite : #ccc;
$strong : #333333;

#main-container {
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

    .menu-container {
       width: 20%;
       height: 100%;
       float: left;
       border-right: 1px solid #ccc;
    }

    .body-container {
       width: 80%;
       height: 100%;
       float: right;
    }
	
}  





    