<div class="room-slide-container" id="room-slide-container">
    <ul id="room-slide" class="slide" data-orbit data-options="bullets : false;slide_number: false; next_on_click: true;timer: false;">
        <li data-orbit-slide="headline-1">
            <div>
                <img class="slide-img" src="img/room-1.jpg" />
            </div>
        </li>
        <li data-orbit-slide="headline-2">
            <div>
                <img class="slide-img" src="img/room-2.jpg" />
            </div>
        </li>
        <li data-orbit-slide="headline-3">
            <div>
                <img class="slide-img" src="img/room-3.jpg" />
            </div>
        </li>
        <li data-orbit-slide="headline-4">
            <div>
                <img class="slide-img" src="img/room-layout.jpg" />
            </div>
        </li>
        <li data-orbit-slide="headline-5">
            <div>
                <img class="slide-img" src="img/room-map.jpg" />
            </div>
        </li>
    </ul>
    <div class="slide-link-container">
        <div id="slide_photos" class="slide-link button" data-orbit-link="headline-1">
            <p class="slide-icon"><i class="fa fa-picture-o light-icon"></i></p>
            Photos
            <div class="slide-link-divider" id="divider1"></div>
        </div>
        <div id="slide_layouts" class="slide-link button" data-orbit-link="headline-4">
            <p class="slide-icon"><i class="fa fa-arrows light-icon"></i></p>
            Layout
            <div class="slide-link-divider" id="divider2"></div>
        </div>
        <div id="slide_maps" class="slide-link button" data-orbit-link="headline-5">
            <p class="slide-icon"><i class="fa fa-map-marker light-icon"></i></p>
            Map
        </div>
    </div>
</div>
</div>