<script arrival-depart-calendar-template type="text/x-handlebars-template">
    <h4>Arrival Depart Calendar</h4>
    <div class="module-search-bar" arrival-depart-calendar-container>
            <div class="block">
                    <div class="search-bar-date" data-hotel-search-date="check-in"></div>
                    <div data-hotel-search-date="check-out" class="search-bar-date"></div>
                    <div class="search-bar-hor"></div>
            </div>
            <div class="search-bar-calendar">
                    <div data-hotel-search-calendar="Arrive"></div>
                    <div data-hotel-search-calendar="Depart"></div>
            </div>
    </div>
</script>