<script arrival-depart-calendar-template type="text/x-handlebars-template">
    <h4>Arrival Depart Calendar</h4>
    <div class="module-search-bar">
            <div class="block">
                    <div class="search-bar-date" data-hotel-search-date="check-in"></div>
                    <div data-hotel-search-date="check-out" class="search-bar-date"></div>
                    <div class="search-bar-hor"></div>
            </div>
            <div class="search-bar-calendar">
                    <div data-hotel-search-calendar="Arrive"></div>
                    <div data-hotel-search-calendar="Depart"></div>
            </div>
    </div>
<script data-day-template type="text/x-handlebars-template">
	<div class="unit"><label class="date-type-label">{{this.type}}</label></div>
	<span class="date-weekday" data-search-date="date-in-weekday">{{this.day}}</span>
	<span class="date-day" data-search-date="date-in-day">{{this.dayofmonth}}</span>
	<span class="date-month" data-search-date="date-in-month">{{this.month}}</span>
	<i class="fa fa-angle-down light-icon"></i>
</script>
</script>